{"src":"resources/texture/UI_chat.tt.png","frames":[{"x":184,"y":77,"w":52,"h":50},{"x":132,"y":0,"w":77,"h":77},{"x":132,"y":77,"w":52,"h":50},{"x":209,"y":41,"w":21,"h":21},{"x":209,"y":0,"w":41,"h":41},{"x":230,"y":41,"w":4,"h":35},{"x":0,"y":52,"w":132,"h":52},{"x":0,"y":0,"w":132,"h":52}]}