{"src":"resources/texture/UI_cloud.tt.png","frames":[{"x":292,"y":532,"w":144,"h":114},{"x":0,"y":342,"w":292,"h":250},{"x":0,"y":592,"w":280,"h":186},{"x":0,"y":0,"w":398,"h":342},{"x":292,"y":342,"w":209,"h":190},{"x":398,"y":0,"w":97,"h":88}]}