{
	"src": "resources/texture/UI_fight_more.tt.png",
	"frames": [
		{
			"x": 213,
			"y": 0,
			"w": 39,
			"h": 44
		},
		{
			"x": 0,
			"y": 100,
			"w": 88,
			"h": 83
		},
		{
			"x": 0,
			"y": 0,
			"w": 87,
			"h": 100
		},
		{
			"x": 0,
			"y": 183,
			"w": 46,
			"h": 50
		},
		{
			"x": 163,
			"y": 0,
			"w": 50,
			"h": 45
		},
		{
			"x": 46,
			"y": 183,
			"w": 47,
			"h": 46
		},
		{
			"x": 60,
			"y": 241,
			"w": 60,
			"h": 8
		},
		{
			"x": 0,
			"y": 233,
			"w": 62,
			"h": 8
		},
		{
			"x": 0,
			"y": 241,
			"w": 60,
			"h": 8
		},
		{
			"x": 87,
			"y": 0,
			"w": 76,
			"h": 76
		}
	]
}