{
	"src": "resources/texture/UI_login3.tt.png",
	"frames": [
		{
			"x": 163,
			"y": 192,
			"w": 163,
			"h": 51
		},
		{
			"x": 0,
			"y": 192,
			"w": 163,
			"h": 51
		},
		{
			"x": 326,
			"y": 51,
			"w": 153,
			"h": 51
		},
		{
			"x": 326,
			"y": 0,
			"w": 153,
			"h": 51
		},
		{
			"x": 308,
			"y": 144,
			"w": 147,
			"h": 42
		},
		{
			"x": 326,
			"y": 102,
			"w": 147,
			"h": 42
		},
		{
			"x": 0,
			"y": 0,
			"w": 308,
			"h": 192
		}
	]
}