{"src":"resources/texture/UI_menu_others.tt.png","frames":[{"x":340,"y":252,"w":93,"h":32},{"x":433,"y":252,"w":70,"h":70},{"x":491,"y":16,"w":15,"h":16},{"x":491,"y":0,"w":15,"h":16},{"x":0,"y":0,"w":340,"h":280},{"x":340,"y":150,"w":105,"h":102},{"x":340,"y":0,"w":151,"h":150}]}