{"src":"resources/texture/UI_taskTips.tt.png","frames":[{"x":176,"y":148,"w":79,"h":76},{"x":176,"y":72,"w":79,"h":76},{"x":0,"y":117,"w":176,"h":45},{"x":0,"y":72,"w":176,"h":45},{"x":0,"y":0,"w":231,"h":72}]}